; top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.java]
indent_size = 4
ij_java_imports_layout = *, |, javax.**, java.**, |, com.goodt.**, me.goodt.**, ru.abcconsulting.**, |, $*

[*.js]
indent_size = 2
ij_smart_tabs = true

[*.sql]
ij_sql_keyword_case = 2
